<!doctype html>
<html lang="en">
<head>
    <title>The Eight</title>
    <link href="~/styles/site.css" rel="stylesheet" />
    <link href="~/styles/app.css" rel="stylesheet" />
</head>
<body>
@RenderBody()
@RenderSection("scripts", false)
</body>
</html>