@import "styles/colors";

@mixin clear-button-styles() {
  outline: none;
  padding: 0;
  border: none;
  background-color: $base-color;
  text-align: left;
  color: $text-color;
  cursor: pointer;
  
  &:hover {
    background-color: lighten(lightgray, 8);
  }

  &:active {
    background-color: lighten(lightgray, 5);
  }

  &:focus {
    background-color: lighten(lightgray, 8s);
  }
}

@mixin make-button() {
  @include clear-button-styles;

  border: 1px solid lightgray;
  padding: 0.3rem;
  margin: 0.2rem;
}
