@import "../../variables";
@import "../../../../styles/theme";
@import "~picnic/src/plugins/label/plugin";
@import "~picnic/src/plugins/tooltip/plugin";

.root {
  display: flex;
  align-items: stretch;
  height: $seat-height;
  width: $attendee-slot-width;
  user-select: none;

  &.coxswain {
    background-color: lightseagreen;
  }
}

.drag-handle {
  width: 2.5rem;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover, &.is-dragging {
    background-color: darken(lightsalmon, 5);
  }

  &.is-dragging {
    cursor: dragging;
  }
}

.attendee {
  display: flex;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
  background-color: lightsalmon;
  outline: none;
  padding: 0;
  border: none;

  &:hover {
    background-color: darken(lightsalmon, 5);
  }

  .name {
    margin-left: 0.35rem;
  }

  .position {
    margin-left: auto;
    margin-right: 0.5rem;
  }
}

.modal {
  background-color: yellow;
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  border: 1px solid black;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  outline: none;
  padding: 20px;
}

.position-tooltip {
  @extend .tooltip-right;
}
