@import "../../variables";
@import "styles/colors";
@import "styles/buttons";

.root {
  display: flex;
  align-items: stretch;
  height: $seat-height;
  width: $attendee-slot-width - 0.1875rem;
  user-select: none;
  
  &.is-dragging {
    border: 0.0625rem solid lightgray;

    .drag-handle {
      background-color: lightgray;
    }
  }
}

.drag-handle {
  width: 2rem;
  cursor: move;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-right: 0.0625rem solid lightgray;
  
  &:hover {
    background-color: lightgray;
  }
}

.attendee {
  @include clear-button-styles;

  background-color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;

  &:hover {
    background-color: lightgray;
  }
}

.info {
  margin-left: 0.6rem;
}

.name {
  margin-bottom: 0.175rem;
}

.position {
  font-size: 0.8rem;
}

.metric {
  margin-left: auto;
  margin-right: 0.6rem;
  font-size: 0.8rem;
}

.drag-handle-image {
  width: 0.75rem;
}
