@using TheEight.WebApp.ViewModels
@model TheEight.WebApp.ViewModels.AjaxUrlVM

<div ng-app="workoutBuilder" ng-controller="MainCtrl" data-get-url="@Model.GetUrl" data-save-url="@Model.SaveUrl" ng-cloak>
    <form name="form" ng-submit="saveWorkout()" autocomplete="off" ng-show="dataLoaded">
        <div>
            <label for="title">Title</label>
            <input ng-model="workout.workoutInfo.title" required id="title" type="text"/>
        </div>
        <div>
            <label for="comments">Comments</label>
            <textarea ng-model="workout.workoutInfo.comments" id="comments"></textarea>
        </div>
        <div>
            <label for="date">Date</label>
            <input ng-model="workout.workoutInfo.date" required the8-datepicker id="date" type="date"/>
        </div>
        <div>
            <label>Pieces</label>
            <div as-sortable="sortableOptions" ng-model="workout.pieces">
                <div ng-repeat="piece in workout.pieces" as-sortable-item>
                    <span as-sortable-item-handle>::::</span>
                    <input ng-attr-name="piece.magnitude" ng-model="piece.magnitude" required type="tel"/>
                    <select ng-model="piece.unit">
                        <option value="meters">meters</option>
                        <option value="minutes">minutes</option>
                    </select>
                    <button ng-click="removePiece(piece)">
                        x
                    </button>
                </div>
                <button ng-click="addPiece()">
                    +
                </button>
            </div>
        </div>
        <div ng-show="workout.workoutId">
            <label>
                <input ng-model="workout.forceSaveIfResults" type="checkbox"/>
                Delete results
            </label>
        </div>
        <button ng-disabled="form.$invalid || form.$pristine" type="submit">
            Save
        </button>
        <button ng-click="" type="button">
            Delete
        </button>
    </form>
</div>