<div>
    <div class="field-group">
        <label>From</label>
        <div date-picker></div>
    </div>
    <div class="field-group">
        <label>To</label>
        <div date-picker></div>
    </div>
    <div class="field-group">
        <label>Weekly Schedule</label>
        <div>
            <div>
                <div ng-repeat="">
                    
                </div>
            </div>
            <div class="toolbar">
                <button ng-click="" type="button"></button>
            </div>
        </div>
    </div>
</div>