@model IEnumerable<TheEightSuite.WebApp.ViewModels.WorkoutBuilder.WorkoutBuilderListItemVM>

@foreach (var workout in Model)
{
    <div>
        <a href="@workout.Url">
            @workout.Title - @workout.Date
        </a>
    </div>
}
<div>
    <a href="@Url.RouteUrl("NewWorkoutBuilder")">
        New
    </a>
</div>