@import "../../variables";

.root {
  height: $seat-height;
  display: flex;
  border-bottom: 1px solid black;
}

.seat-number {
  width: $seat-number-width;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.attendee-slot {
  flex-grow: 1;
  background-color: yellowgreen;
  display: flex;

  
  &.hover {
    background-color: lightyellow;
  }
}
