@import "../../variables";

.root {
  height: $seat-height;
  display: flex;
  border: 0.0625rem solid lightgray;
  border-top: none;
}

.seat-number {
  width: $seat-number-width;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-right: 0.0625rem solid lightgray;
}

.attendee-slot {
  flex-grow: 1;
  display: flex;

  
  &.hover {
    background-color: lighten(lightgray, 10);
  }
}
