@import "../../variables";

.root {
  width: $attendee-slot-width + $seat-number-width;
  background-color: lightgreen;
  margin: 0.5rem;

  &:not(:last-of-type) {
    margin-right: 0;
  }
}

.header {
  padding: 0.75rem;
  background-color: blueviolet;
  user-select: none;

  &.title {
    font-weight: 600;
  }
}
