@import "../../variables";

.root {
  width: $attendee-slot-width + $seat-number-width;
  margin: 0.5rem;

  &:not(:last-of-type) {
    margin-right: 0;
  }
}

.header {
  padding: 0.75rem;
  user-select: none;
  border: 1px solid lightgray;
  background-color: lighten(lightgray, 10);

  .title {
    font-weight: 600;
  }
}
