@*<!doctype html>
    <html lang="en">
    <head>
        <title></title>
        @RenderSection("styles", false)
    </head>
    <body>
        @RenderBody()
        @RenderSection("scripts", false)
    </body>
    </html>