<div class="practice-planner">
    <div class="control-panel">
        <div class="add-boats">
            <span>Add boat</span>
            <select ng-model="" ng-options=""></select>
            <button ng-click="" type="button">Add</button>
        </div>
        <div class="unassigned-attendees">
            <div ng-repeat="rower in unassigned" ng-class="isCoxswain ? '' : ''">
                {{ rower.displayName }}
            </div>
            <div class="add-attendees">
                <span>Add attendee</span>
                <select ng-model="" ng-options=""></select>
                <button ng-click="" type="button">Add</button>
            </div>
        </div>
    </div>
    <div class="boats">
        <div ng-repeat="boat in boats" class="boat">
            <div>
                <span class="boat-title">{{ boat.title }}</span>
                <span class="boat-type">{{ boat.type }}</span>
                <label>
                    Comments
                    <textarea ng-model=""></textarea>
                </label>
            </div>
            <div>
                <div ng-show="boat.isCoxed" class="boat-slot coxswain-slot"></div>
                <div ng-repeat="seat in boat.seats" class="boat-slot"></div>
            </div>
        </div>
    </div>
</div>