<div>
    <div class="field-group">
        <span class="field-group-title">From</span>
        <div date-picker></div>
    </div>
    <div class="field-group">
        <span class="field-group-title">To</span>
        <div date-picker></div>
    </div>
    <div class="field-group">
        <span class="field-group-title">Weekly Schedule</span>
        <div>
            <div>
                <div ng-repeat="">

                </div>
            </div>
            <div class="toolbar">
                <button ng-click="" type="button">+</button>
            </div>
        </div>
    </div>
    <div class="field-group">
        <span class="field-group-title">Exceptions</span>
        <div>
            <div>
                <div ng-repeat="">

                </div>
            </div>
            <div class="toolbar">
                <button ng-click="" type="button">+</button>
            </div>
        </div>
    </div>
    <div class="field-group">
        <span class="field-group-title">Allow Signups</span>
        <label>
            <input ng-model="" type="tel"/>
            days before
        </label>
        <label>
            <the8-day-of-week ng-model=""/>
            before
        </label>
    </div>
</div>

<the8-bulk-create-practice-add-weekly-practice />
<the8-bulk-create-practice-add-exception />