<div id="app"></div>

@section scripts {
    <script>
        var Factory = React.createFactory(Apps.BoatLineupPlannerApp);
        ReactDOM.render(Factory(), document.getElementById("app"));
    </script>
}