@import "../../styles/base/base";

.boat-lineup-planner {
    @include clearfix;
	
	.unassigned-attendee-list {
		float: left;
        width: 300px;
		background-color: #263751;
        padding: 15px;
        margin-right: 20px;

        .attendee {
            margin-bottom: 10px;
        }
	}

	.boat-list {
        @include clearfix;
		
		.boat {
			width: 300px;
			background-color: #263751;
            float: left;
            margin-right: 20px;
            color: #F5F5F5;

            .boat-header {
                background-color: #263F52;
                margin-bottom: 10px;
                padding: 10px;
            }

			.boat-seat {
                @include clearfix;
				height: 50px;

                .boat-seat-label {
                    float: left;
                    font-size: $base-font-size * 0.9;
                    height: 50px;
                    line-height: 50px;
                    white-space: nowrap;
                    margin-left: 10px;
                    width: 30px;
                }
			}
		}
	}
					
	.attendee {
		padding: 10px;
        color: #F5F5F5;
        cursor: grab;        
		
		&.rower {
			background-color: #304F66;
		}
		
		&.coxswain {
			background-color: #2A4458;
		}
	}	
}